*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}

.img-responsive {
    width: 100%;
}

h1{
	color: white;
	font-weight: 500;
	text-align: left;
	font-size: 35px;
	padding: 20px;
}

h4{
	color: white;
	text-align: left;
	padding: 20px;
	font-weight: 500;

}

h2{
	color: white;
	text-align: center;
	font-weight: 350;
	font-size: 40px;
	margin-top: 15%;

}

/*Nav*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	width: 100%;
	background-color: white;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding: 15px 50px;
	color: gray;
	width: 100%;
}

.navbar-collapse{
	background-color: white;
	width: 100%;
}

 .navbar-default .navbar-nav>li>a{
 color: #2f2f2f;
}

.navbar-default .navbar-nav>li>a:hover{
 color: #f8bc00;
}
.navbar-brand{
	padding-left: 30%;
}

#header{
	width: 100%;
	background-color: white;
	height: 15vh;
}

.first-section{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 110vh;
	
}

.box{
	background-color: #f7b617;
	margin-top: 200px;
	width: 50rem;
	height: 65vh;
	float: right;
}

.logo-header{
	margin-left: 20px;
}

.registro{
	font-weight: 300;
}

.linea{
display: inline-block;
border-bottom: 1px solid white;
background-color: transparent;
width: 130px;
}

.btn-conductor{
	margin-top: 20px;
	width: 250px;
	margin-left: 50px;
}
/*HERO SECTION*/

.hero{
	background-color: #f7b617;
	width: 100%;
	height: 90vh;
}

.celular{
	margin-top: 6rem;
	margin-left: 8rem;
}

.borde{
	border: 2px solid white;
	margin-top: 20px;
	height: 80vh;
	width: 90%;
}

.titlehero{
	padding-top: 15rem;
}

.bajadahero{
	font-weight: 300;
	width: 80%;
	padding-top: 10px;
}


/*INFORMACION SECTION*/

.informacion{
	background-image: url(../img/conduce.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 90vh;
}

.transp{
	background-color: rgba(8,2,14,0.5);
	width: 400px;
	height: 90vh;
	float: right;
	margin-left: 40rem;
	padding-left: 10px;
}

.titleinfo{
	padding-top: 10rem;
}
.bajadainfo{
	font-weight: 300;
	padding-top: 0;
}
.btn-secondary{
	background-color: #f7b617;
	margin-left: 25px;
	height: 50px;
	color:white;
	margin-top: 0;
	width: 60%;
}

.btn-secondary:hover{
	background-color: rgba(247, 182, 23, 0.9);
}

/*GEOLOCATION SECTION*/
.conduce{
	background-color: #f7b617;
	width: 100%;
	height: 90vh;
	padding-top: 70px;
	padding-left: 70px;
}

.textform{
	background-color: transparent;
	border: 1px solid white;
	color: white;
	width: 300px;
	display: inline-block;
	margin-left: 30px;
}

.form-control{
	color: white;
}

.cajas{
}

.pequeño{
	display: inline-block;
}
input::-webkit-input-text-placeholder{
	color:white;
	text-align: left;
}

span{
	margin-left: 30px;
}
#map{
	width: 40%;
	height: 60vh;
	border: 2px solid whitesmoke;
	margin-top: 1rem;
}

.btn-defaul{
	background-color: transparent;
	border: transparent;
}

.btn-ruta{
	background-color: white;
	margin-left: 80px;
	width: 150px;
}

/*FOOTER*/
footer{
	background-color: #2b2b2b;
	width: 100%;
	height: 90vh;
	padding: 80px;
}

p{
	color: white;
	cursor: pointer;
	text-align: left;
}

p:hover{
	color: #f7b617;;
}
.social{
	display: inline-block;
	color: white;
	margin-top: 20rem;
	font-size: 20px;
}

.iconos{
	margin-top: 15rem;
	padding-bottom: 14px;
}

h6{
	color: white;
	font-size: 15px;
}