*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}

.img-responsive {
    width: 100%;
}

h1{
	color: white;
	font-weight: 500;
	text-align: left;
	font-size: 35px;
	padding: 20px;
}

h4{
	color: white;
	text-align: left;
	padding: 20px;
	font-weight: 500;

}

h2{
	color: white;
	text-align: center;
	font-weight: 350;
	font-size: 40px;
	margin-top: 15%;

}

/*Nav*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	width: 100%;
	background-color: white;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding: 15px 50px;
	color: gray;
	width: 100%;
}

.navbar-collapse{
	background-color: white;
	width: 100%;
}

 .navbar-default .navbar-nav>li>a{
 color: #2f2f2f;
}

.navbar-default .navbar-nav>li>a:hover{
 color: #f8bc00;
}
.navbar-brand{
	padding-left: 30%;
}

#header{
	width: 100%;
	background-color: white;
	height: 15vh;
}

.first-section{
	background-image: url(../img/taxi.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 130vh;
}

.box{
	background-color: #f7b617;
	margin-top: 200px;
	width: 40%;
	height: 65vh;
	float: right;
}